.bold{
    font-weight: bold;
}
.primary{
    color:rgb(24,144,255);
    background-color: rgb(230,247,255);
    border:1px solid rgb(105,192,255);
    border-radius:5px;
}
.secondary{
    color:rgb(140,140,140);
    background-color: rgb(245,245,245);
    border:1px solid rgb(140,140,140);
    border-radius:5px;
}
.info{
    color:rgb(19,194,194);
    background-color: rgb(230,255,251);
    border:1px solid rgb(19,194,194);
    border-radius:5px; 
}
.success{
    color:rgb(82,196,26);
    background-color: rgb(246,255,237);
    border:1px solid rgb(149,222,100);
    border-radius:5px; 
}
.warning{
    color:rgb(250, 173, 20);
    background-color: rgb(255, 251, 230);
    border:1px solid rgb(250, 173, 20);
    border-radius:5px;
}
.error{
    color:rgb(255,77,79);
    background-color: rgb(255,241,240);
    border:1px solid rgb(255,163,158);
    border-radius:5px;
}